<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1 style="text-align: center;margin-top: 50px;">Weather App</h1>
    <div class="container">
      <div class="row">
        <div class="col-6" style="margin-bottom: 30px;">
          <h2 style="margin-bottom: 25px;">Add new city</h2>
          <form action="" method="post">
            {% csrf_token %} {{ form.name }}
            <input
              type="submit"
              name="send"
              value="Add new city"
              class="mt-2 btn btn-danger"
            />
          </form>
        </div>
      </div>

      <div class="col-6" style="padding-left:0px">
        <h2 style="margin-bottom: 25px;">Information</h2>

        {% for info in all_info %}
        <div class="alert alert-info">
          <div class="row">
            <div class="col-9">
              <b>City:</b> {{ info.city }} <br />
              <b>Temperature:</b> {{ info.temp }} <sup>o</sup> <br />
            </div>
            <div class="col-2">
              <img
                src="https://openweathermap.org/img/w/{{ info.icon }}.png"
                alt="temp icon"
              />
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </body>
</html>
